{{!-- <section id="app">
  <h1>${ message }</h1>
</section> --}}
<section class="mainheader">
	<h2> Welcome To Flashback Videos! </h2>
	<ul class="options">
		<a class="adults" href="/adults">
		<li class="adults"> Adults </li>
	 </a>
			<br>
			<a class="kids" href="/kidsmovies">
				<li class="kids"> kids </li>
			 </a>
	</ul>
</section>