<!--<ul>
  <li v-for="movie in videodata">
    <a :href="movie.vidsource" v-on:click="loadMovie">
<img :src="'images/' + movie.thumb" alt="movie thumbnail">
</a>
  </li>
</ul>
  <section>
  <h3 class="movie-title">{{ videotitle }}</h3>
    <h3 class="movie-details">{{ videoDescription }}</h3>
</section> -->

<section class="pages">
<h1 class="bump-down" id="Headings"> Welcome to the kids section! </h1>
<p class="description-page">
Welcome to the adults secton of Flashback Videos
</p>
</section>

<section>
  <h3 class="movie-title">{{ videotitle }}</h3>
    <h3 class="movie-details">{{ videoDescription }}</h3>
</section>
