<!--<ul>
  <li v-for="movie in videodata">
    <a :href="movie.vidsource" v-on:click="loadMovie">
<img :src="'images/' + movie.thumb" alt="movie thumbnail">
</a>
  </li>
</ul>
  <section>
  <h3 class="movie-title">{{ videotitle }}</h3>
    <h3 class="movie-details">{{ videoDescription }}</h3>
</section> -->


<section class="pages">
    <a href="/" class="back-button">
      <i class="far fa-arrow-alt-circle-left"></i>
    </a>
<h1 class="bump-down"> Welcome to the Adults section! </h1>
<p class="description-page">
Welcome to the adults section, here you'll find all the movies sutable for adult viewing audiences
</p>
</section>

<section>
  <h3 class="movie-title">{{ videotitle }}</h3>
    <h3 class="movie-details">{{ videoDescription }}</h3>
</section>
